<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>index</title>
</head>
<body>
<div style="background-color: aliceblue">
    <h1>我是导航栏</h1>
    {{.}}
</div>
<div style="background-color: aqua">

    {{block "content" .}}{{end}}
</div>


</body>

</html>